.title {
    color: rgb(2, 3, 44);
    font-size: 2.5rem;
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    margin: 10px 10rem 10px 10rem;
}

.appointmentsContainer {
    margin-top: 50px;
}

.NoTurnsAdvert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: rgb(2, 3, 44);
    font-size:20px;
}

.scheduleButton{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 231, 226);
    color: rgb(2, 3, 44);
    cursor: pointer; 
}

.scheduleButton:hover {
    background-color: rgb(2, 3, 44);
    color: rgb(231, 231, 226);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(2, 3, 44);
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(2, 3, 44);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin: 5rem 10rem 1rem 10rem; 
}

/* .infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(2, 3, 44);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
} */