.container{
    padding: 25px;
    margin: auto; /* Cambiado a auto para centrar horizontalmente */
    display: flex;
    flex-direction: row;
    border-style: solid;
    justify-content: center;
    border-color: rgb(2, 3, 44);
    background-color: rgb(2, 3, 44);
    border-width: 2px;
    border-radius: 0px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
}

/* .indice {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform  2s ease;
}

.indice:hover {
    /* text-decoration-color: aliceblue;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style:solid; */
    /* transform: scaleX(1); */
/* } */ 

.indice {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    display: inline-block; /* Asegura que el elemento sea tratado como bloque en línea */
    margin: 10px;
}

#reservar {
    border-width: 2px;
    border-radius: 8px;
    background-color: rgb(231, 231, 226);
    color: rgb(2, 3, 44);
}

#reservar:hover {
    color: rgb(97, 95, 95);
    text-decoration: none;
}

.indice::after {
    content: "";
    display: block;
    width: 0;
    height: 2px; /* Grosor de la línea */
    background-color: aliceblue; /* Color de la línea */
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease; /* Transición suave para el efecto */
}

.indice:hover::after {
    width: 100%; /* Expande la línea a todo el ancho del elemento al hacer hover */
}

.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

