.barberLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 3, 44);
    padding-top: 0px;
    width: 100%;
}
  
.barberLogo {
    width: 300px;
    background-size: cover;
}