.barberLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 3, 44);
    width: 100%;
    margin-top: 0px;
}
  
.barberLogo {
    width: 300px;
    background-size: cover;
}

.gif {
    width: 100%;
    height: 650px;
    object-fit: cover;
}