.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(2, 3, 44);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

/* .title {

} */

.info {
    font-size: 17px;
    margin-left: 1rem;
}

.status {
    border: 2px solid  rgb(117, 219, 117);
    border-radius: 10px;
    padding: 0.3rem;
    font-weight: bold;
    background-color: rgb(117, 219, 117);
    color: rgb(5, 58, 5);
}

.cancelButton {
    border: 2px solid rgb(2, 3, 44);
    border-radius: 10px;
    padding: 0.3rem;
    font-weight: bold;
    background-color: rgb(2, 3, 44);
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: background-color 0.3s ease;
}

.cancelButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(2, 3, 44);
}